<?php /* #?ini charset="utf-8"?

[DatabaseSettings]
DatabaseImplementation=ezmysql
Server=localhost
Port=
User=devel
Password=
Database=
Charset=
Socket=/var/run/mysqld/mysqld.sock
UsePersistentConnection=disabled
SQLOutput=disabled

[Session]
SessionNamePerSiteAccess=disabled

[SiteSettings]
SiteName=Website Interface
SiteURL=http:/russ.dada.ru/
LoginPage=embedded

[SiteAccessSettings]
RequireUserLogin=false
RelatedSiteAccessList[]=ezwebin_site_user
RelatedSiteAccessList[]=ezwebin_site_admin
ShowHiddenNodes=false
AnonymousAccessList[]=odf/upload_import
AnonymousAccessList[]=odf/authenticate
AnonymousAccessList[]=odf/upload_export

[DesignSettings]
SiteDesign=russ
AdditionalSiteDesignList[]=base

[RegionalSettings]
Locale=rus-RU
ContentObjectLocale=rus-RU
ShowUntranslatedObjects=disabled
SiteLanguageList[]=rus-RU
SiteLanguageList[]=eng-US
TextTranslation=enabled
TranslationExtensions[]=ezvideoflv
TranslationExtensions[]=ezodf
TranslationExtensions[]=antispam

[FileSettings]
VarDir=var/ezwebin_site

[ContentSettings]
TranslationList=eng-US
ViewCaching=enabled
PreCacheSiteaccessArray[]=admin
PreCacheSiteaccessArray[]=base
PreCacheSiteaccessArray[]=ezwebin_site_user

[RoleSettings]
ShowAccessDeniedReason=enabled
PolicyOmitList[]=odf/upload_import
PolicyOmitList[]=odf/authenticate
PolicyOmitList[]=odf/upload_export

[SearchSettings]
SearchViewHandling=template

[DebugSettings]
DebugOutput=disabled
DebugRedirection=disabled
DebugLogOnly=enabled
ScriptDebugOutput=enabled

[TemplateSettings]
Debug=disabled
ShowXHTMLCode=disabled
ShowUsedTemplates=disabled
ExtensionAutoloadPath[]=eztagcloud
ExtensionAutoloadPath[]=antispam

[HTTPHeaderSettings]
CustomHeader=enabled
Cache-Control[/]=public, max-age=600
Expires[/]=600
Pragma[/]=

[SiteAccessRules]
Rules[]
Rules[]=access;enable
Rules[]=moduleall
Rules[]=access;disable
Rules[]=module;ezinfo/about
Rules[]=module;content/tipafriend

*/ ?>
